
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evilengine Scoreboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
  </head>
  <body>
    <h1>Evilengine Scoreboard</h1>
    <h2>Default Ports: AD LDAP: 389, Backup HTTP: 80, DevServer SSH: 22, FTP: 21, Ubuntu SSH: 22, WebApp HTTP: 80, WebApp SQL: 3306, WinRM: 5985</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>
            Win AD: <br>DNS
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="1"
            />
          </th>
          <th>
            Win AD: <br>LDAP 
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="2"
            />
          </th>
          <th>
            Backup: <br>HTTP
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="3"
            />
          </th>
          <th>
            DevServer: PING
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="4"
            />
          </th>
          <th>
            DevServer: SQL
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="5"
            />
          </th>
          <th>
            UbuntuFTP: <br>FTP
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="6"
            />
          </th>
          <th>
            Ubuntu1: PING
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="7"
            />
          </th>
          <th>
            Ubuntu1: <br>SSH
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="8"
            />
          </th>
          <th>
            Ubuntu2: PING
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="9"
            />
          </th>
          <th>
            Ubuntu2: <br>SSH
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="10"
            />
          </th>
          <th>
            WebApp: HTTP
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="11"
            />
          </th>
          <th>
            WebApp: <br>SQL
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="12"
            />
          </th>
          <th>
            Windows1: PING
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="13"
            />
          </th>
          <th>
            Windows1: WINRM
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="14"
            />
          </th>
          <th>
            Windows2: PING
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="15"
            />
          </th>
          <th>
            Windows2: WINRM
            <input
              class="styled-checkbox top-checkbox"
              type="checkbox"
              data-column="16"
            />
          </th>
        </tr>
      </thead>
      <tbody id="team-rows">
        <!-- Rows will be inserted dynamically here -->
      </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>